@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Liste des contacts ";
}
<h2>@ViewBag.Title :</h2>
<h3>@ViewBag.Message :</h3>

<address>
    6 rue pierre semard<br />
    Maisons-Alfort<br />
    <abbr title="Phone">Telephone:</abbr>
    0758.419.167
</address>

<address>
    <strong>Auteurs :</strong><br /> 
    <a href="meddahamine6@gmail.com"> Mr MEDDAH Amine</a><br />
    <a href="benaouicha.mohand.said@gmail.com"> Mr BENAOUICHA Mohand-Said</a><br />
</address>