@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
        <h4>Gestion des Academies</h4>
        <p><a href="http://localhost:54870/Academies" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        <!--<div>
            @Html.ActionLink("Gérer", "", "Academies")
        </div>-->
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Classes</h4>
            <p><a href="http://localhost:54870/Classrooms" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
    <br />
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Cycles</h4>
            <p><a href="http://localhost:54870/Cycles" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h5>Gestion des Etablissement</h5>
            <p><a href="http://localhost:54870/Establishments" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Evaluations</h4>
            <p><a href="http://localhost:54870/Evaluations" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Niveaux</h4>
            <p><a href="http://localhost:54870/Levels" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Utilisateurs</h4>
            <p><a href="http://localhost:54870/Users" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Eleves</h4>
            <p><a href="http://localhost:54870/Pupils" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Tuteurs</h4>
            <p><a href="http://localhost:54870/Tutors" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Periodes</h4>
            <p><a href="http://localhost:54870/Periods" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Années</h4>
            <p><a href="http://localhost:54870/Years" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h4>Gestion des Resultats</h4>
            <p><a href="http://localhost:54870/Results" class="btn btn-primary btn-lg">Détails &raquo;</a></p>
        </div>
    </div>
</div>